<section class="client_edit_widget [ oocss-widget ]">
    <h2 class="[ oocss-title-section ]">Modifier le client</h2>
    <div>
        {{ form_start(client_edit_form, {'attr': {'class': '[ oocss-form ]'}}) }}
        {{ form_widget(client_edit_form) }}
        {{ form_end(client_edit_form)
        }}
    </div>
</section>