<section class="client-new oocss-widget highlight small">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Ajouter un client</h2>
    </div>
    <div class="oocss-widget--content">
        {% include "MesClicsEspaceClientBundle:Widgets:client-form.html.twig" %}
    </div>
</section>