<section class="oocss-widget oocss-discret not-closable small">
    <ul class="oocss-widget--content oocss-full-container-width oocss-sub_section--nav">
        <li class="[ oocss-full-container-width oocss-sub_section-nav--bloc ]">
            <div class="[ oocss-sub_section-nav-bloc--head ]">
                <h3>Comptabilité client</h3>
            </div>
            <ul class="[ oocss-sub_section-nav-bloc--content ]">
                <li>
                    <a class="oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s client-projets" href="{{ path('mesclics_admin_client_projets', {'client_id': client.id}) }}">projets {% if client.projets is not empty %}<span class="oocss-index oocss-index__d__lateral">{{ client.projets|length }}</span>{% endif %}</a>
                </li>
                <li>
                    <a class="oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s client-contrats" href="{{ path('mesclics_admin_client_contrats', {'client_id': client.id}) }}">contrats {% if client.contrats is not empty %}<span class="oocss-index oocss-index__d__lateral">{{ client.contrats|length }}</span>{% endif %}</a>
                </li>
            </ul>
        </li>
        <li class="[ oocss-sub_section-nav--bloc ]">
            <div class="[ oocss-sub_section-nav-bloc--head ]">
                <h3>Espace Client</h3>
            </div>
            <ul class="[ oocss-sub_section-nav-bloc--content ]">
            </ul>
        </li>
    </ul>
</section>