<section class="client_search_widget [ oocss-widget ]">
    <div class="[ oocss-widget--head ] oocss-widget--head__d__search">
        <h2 class="[ oocss-title-section ]">Rechercher un client</h2>
    </div>
    <div class="[ oocss-widget--content ]">
        <!-- TODO: ajouter le formulaire pour la recherche d'un client -->
    </div>
</section>