{% extends "MesClicsBundle:Popups:layout.html.twig" %}
{% block popupHeader %}
    <h2>Attention !</h2>
{% endblock popupHeader %}

{% block popupContent %}
    <p class="oocss-instruction oocss-block oocss-full-container-width oocss-center-h">Êtes-vous sûr de vouloir supprimer le projet {{ projet.nom }} ?</p>
    <div class="oocss-block oocss-horizontal oocss-full-container-width">
        <a class="oocss-button oocss-discret" href="{{ path('mesclics_admin_client_projet_remove', {'remove':true, 'client_id': client.id, 'projet_id': projet.id}) }}">Oui</a>
        <a class="oocss-button oocss-discret" href="{{ path('mesclics_admin_client_projets', {'client_id': client.id}) }}">Annuler</a>

    </div>
{% endblock popupContent %}